In [9]:
print('*************************')
print('    AB University ')
print('*************************')
print()

num_admissions = int(input('How many admissions do you want to process? '))

start_reg = 100001

for i in range(num_admissions):
    name = input('Your good name pls.. ')
    reg_no = str(start_reg + i)  # Starts from 100001
    print('Hello... ' + name + ' Reg No: ' + reg_no + ', Congrats!\n')
else:
    print('Sorry !!! Admission Closed')

*************************
    AB University
*************************

How many admissions do you want to process? 4
Your good name pls.. a
Hello... a Reg No: 100001, Congrats!

Your good name pls.. v
Hello... v Reg No: 100002, Congrats!

Your good name pls.. c
Hello... c Reg No: 100003, Congrats!

Your good name pls.. s
Hello... s Reg No: 100004, Congrats!

Sorry !!! Admission Closed

# While Loop

In [25]:
print('*************************')
print('    AB University ')
print('*************************')
print()

num_admissions = int(input('How many admissions do you want to process? '))

start_reg = 100001
count=0

while count<num_admissions:
    name = input('Your good name pls.. ')
    reg_no = start_reg + count
    count += 1
    print('Hello... ' , name, 'Reg No:' ,reg_no, 'Congrats!\n')


else:
    print('Sorry !!! Admission Closed')

*************************
    AB University
*************************

How many admissions do you want to process? 8
Your good name pls.. 76
Hello...  76 Reg No: 100001 Congrats!

Your good name pls.. 7y
Hello...  7y Reg No: 100002 Congrats!

Your good name pls.. 78
Hello...  78 Reg No: 100003 Congrats!

Your good name pls.. yh
Hello...  yh Reg No: 100004 Congrats!

Your good name pls.. fh
Hello...  fh Reg No: 100005 Congrats!

Your good name pls.. fgh
Hello...  fgh Reg No: 100006 Congrats!

Your good name pls.. fhf
Hello...  fhf Reg No: 100007 Congrats!

Your good name pls.. fhgf
Hello...  fhgf Reg No: 100008 Congrats!

Sorry !!! Admission Closed

#multiplication table for and while loop

In [32]:
print('*************************')
print('    TIMES TABLE ')
print('*************************')
print()

Times_T = int(input('WHAT TIMESTABLE DO YOU WANT TO LEARN'))

TABLESIZE= range(1,13)


for i in TABLESIZE:
 output = Times_T * i
 print(Times_T,'*',i,'=',output)

*************************
    TIMES TABLE
*************************

WHAT TIMESTABLE DO YOU WANT TO LEARN15
15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150
15 * 11 = 165
15 * 12 = 180

In [39]:
print('*************************')
print('    TIMES TABLE ')
print('*************************')
print()

Times_T = int(input('WHAT TIMESTABLE DO YOU WANT TO LEARN'))

TABLESIZE= 1

while TABLESIZE<=12:
  output = Times_T * TABLESIZE
  print(Times_T,'*',TABLESIZE,'=',output)
  TABLESIZE+=1

*************************
    TIMES TABLE
*************************

WHAT TIMESTABLE DO YOU WANT TO LEARN8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
8 * 11 = 88
8 * 12 = 96

In [73]:

Softwares=[]
for i in range(5):
 data= str(input('please enter the software name:'))
 Softwares.append(data)
print('the sowftwares updated by you are :',Softwares)

please enter the software name:windows
please enter the software name:linux
please enter the software name:vlc
please enter the software name:zoom
please enter the software name:teams
the sowftwares updated by you are : ['windows', 'linux', 'vlc', 'zoom', 'teams']

In [77]:
Softwares = []
i=1
while i<=5:
  data= str(input('please enter the software name:'))
  Softwares.append(data)
  i+=1
print('the softwares updated by you are :',Softwares)

please enter the software name:word
please enter the software name:excel
please enter the software name:powerbi
please enter the software name:sql server
please enter the software name:collab
the softwares updated by you are : ['word', 'excel', 'powerbi', 'sql server', 'collab']